body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f5f5f5;
}

.navbar {
  background: #111;
  padding: 15px;
  color: gold;
}

.logo {
  margin: 0;
}

.hero {
  padding: 60px;
  text-align: center;
  background: #222;
  color: white;
}

.btn {
  background: gold;
  padding: 10px 20px;
  color: black;
  text-decoration: none;
}

.page {
  padding: 30px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.product-card {
  background: white;
  padding: 15px;
  border-radius: 8px;
}

.product-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.price {
  font-weight: bold;
  margin-top: 10px;
}
